---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Talkbox">
  <main class="container mx-auto">
    <div class="flex flex-col justify-center items-center min-h-screen">
      <div class="w-1/4 flex flex-col gap-3">
        <div class="flex flex-col gap-2">
          <label for="email" class="text-slate-500">Email</label>
          <div class="flex flex-col gap-1">
            <input type="text" class="w-full rounded-md border-slate-300 bg-white" placeholder="Enter your email address...">
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <label for="password" class="text-slate-500">Password</label>
          <div class="flex flex-col gap-1">
            <input type="password" class="w-full rounded-md border-slate-300 bg-white" placeholder="Enter your password...">
          </div>
        </div>

        <a href="/inboxes" class="w-full text-center bg-indigo-500 text-white font-medium rounded-md py-2 hover:bg-indigo-700 hover:cursor-pointer">
          Submit
        </a>
      </div>

      <div class="w-1/3 mt-12">
        <p class="text-slate-500 text-xs text-center">
          By clicking the submit button above, you acknowledge that you have read and understood our
          <a href="#" class="text-indigo-500 underline">Terms & Conditions</a> and <a href="#" class="text-indigo-500 underline">Privacy and Policy</a>.
        </p>
      </div>
    </div>
  </main>
</Layout>
